{% extends "collec_management/main.html" %}
{% load django_bootstrap5 %}
{% block title %}<div class = "text-center">Ajouter une collection</div>{% endblock %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <form method="POST" class ="text-center w-50">
        {% csrf_token %}
        
        {% bootstrap_form form%}
        
        <!-- Bouton de soumission -->
        <button type = "submit" class = "btn btn-primary" >
            {{ button_add }}
        </button>
    </form>
</div>
{% endblock %}