{% extends "collec_management/main.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">Bienvenue sur l'application de gestion de collections</h1>
    <p class="lead text-center">
        Cette application vous permet de gérer facilement diverses collections. Utilisez les fonctionnalités
        pour ajouter, modifier, et supprimer des collections selon vos besoins.
    </p>
    <p class="text-center">
        Nous espérons que cette application vous sera utile pour organiser et retrouver vos collections.
    </p>
</div>

{% endblock %}